@mixin load-animation($direction, $duration, $delay) {

	transform: translate(0px, 0px);
	display: block;
	animation-name:slide-#{$direction}-text;
	animation-duration: $duration;
	animation-delay: $delay;
	animation-fill-mode: forwards;

	$x : 0;
	$y : 0;

	@if($direction == "top"){
		$x : -50px;
	}
	@if($direction == "bottom"){
		$x : 50px;
	}
	@if($direction == "left"){
		$y : -50px;
	}
	@if($direction == "right"){
		$y : 50px;
	}

	@keyframes slide-#{$direction}-text {
	  from {
	  	transform: translate($y, $x);
		opacity: 0;
  	   	visibility: hidden; 
	  }
	  to {
	  	transform: translate(0px, 0px);
	  	opacity: 1;
	  	visibility: visible;
	  }
	}

}


.load-animation{
   	visibility: hidden;
	&.animated{
		$from-directions: "top", "bottom", "left", "right";

		@each $direction in $from-directions {
			[data-from-direction="#{$direction}"]{
		  		@include load-animation($direction, 0.5s, 0s);
			}
		}
	}
}
