::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
  opacity: 0;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border: 0px none transparent;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: transparent
}
::-webkit-scrollbar-thumb:active {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none transparent;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


.custom-scrollbar{
	position: fixed;
	width:10px;
	height:100vh;
	top:0;
	right:0;
	z-index: 9999999;
	transition:0.2s;
	opacity: 0;
	&.active{
		opacity: 0.7;
	}
	.scroll-indicator{
		position: absolute;
		width:10px;
		height:100px;
		background: #9bb673;
		border-radius:10px;
	}	
}